<div class="cart-wrap">
  <div class="normal-box">
    <div class="icon-box" (click)="handleToggle()">
      <span class="num" *ngIf="cart.num">{{cart.num}}</span>
      <div class="bg-box">
        <i class="iconfont icon-cart" [ngClass]="{anim: isAnim}"></i>
      </div>
    </div>
    <div class="price-box">
      <span class="price">{{'￥' + cart.payment}}</span>
      <span class="delivery">另需配送费￥4元</span>
    </div>
    <div class="btn-buy" *ngIf="(20 - cart.payment > 0); else elseTemplate">{{'还差￥' + (20 - cart.payment) + '元起送'}}</div>
    <ng-template #elseTemplate>
      <div class="btn-buy active">{{'需支付￥' + (4 + cart.payment) + '元'}}</div>
    </ng-template>
  </div>
  <div class="cart-outer" [ngClass]="{show: isShow}">
    <div class="holder" (click)="isShow = false"></div>
    <div class="cart-box">
      <div class="btn-bar">
        <span class="btn btn-cancel">购物车</span>
        <span class="btn btn-clear" (click)="handleClear()">清空</span>
      </div>
      <div class="list-outer" #scroll>
        <ul class="list-box">
          <li class="item-box" *ngFor="let item of cart.list; index as index">
            <span class="text">{{item.name}}</span>
            <div class="price-bar">
              <span class="price">{{'￥' + item.price}}</span>
              <app-btn [food]="item"></app-btn>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>