<div class="header-wrap" *ngIf="seller">
  <header class="header-box">
    <div class="top">
      <div class="up">
        <div class="img-wrap">
          <img class="avatar" width="64" height="64" alt="" [src]="seller.avatar">
        </div>
        <div class="right">
          <div class="title">
            <i class="icon"></i>
            <span class="txt">{{seller.name}}</span>
          </div>
          <div class="desc">{{seller.description}} / {{seller.deliveryTime}}分钟送达</div>
          <div class="info" *ngIf="seller.supports">
            <app-icon [type]="seller.supports[0].type"></app-icon>
            <span class="txt">{{seller.supports[0].description}}</span>
          </div>
        </div>
        <div class="btn" *ngIf="seller.supports" (click)="markFlag = !markFlag">
          <span class="num">{{seller.supports.length}}个</span>
          <i class="icon icon-arrow_right"></i>
        </div>
      </div>
      <div class="down">
        <i class="icon"></i>
        <div class="txt">{{seller.bulletin}}</div>
        <i class="btn icon-arrow_right" (click)="markFlag = !markFlag"></i>
      </div>
    </div>
    <nav class="nav">
      <a class="item" [routerLink]="['/goods']" routerLinkActive="active">商品</a>
      <a class="item" [routerLink]="['/rating']" routerLinkActive="active">评价</a>
      <a class="item" [routerLink]="['/seller']" routerLinkActive="active">商家</a>
    </nav>
    <img class="bg" alt="" [src]="seller.avatar">
  </header>
  <div class="mark-wrap" *ngIf="markFlag" [@fade]="'in'">
    <div class="main">
      <h2 class="title">{{seller.name}}</h2>
      <app-star class="star" [size]="48" [score]="seller.score"></app-star>
      <div class="info-wrap">
        <div class="info-title">
          <span class="line"></span>
          <span class="txt">优惠信息</span>
          <span class="line"></span>
        </div>
        <ul class="list">
          <li class="item" *ngFor="let item of seller.supports">
            <app-icon [type]="item.type" [size]="32"></app-icon>
            <span class="txt">{{item.description}}</span>
          </li>
        </ul>
      </div>
      <div class="info-wrap">
        <div class="info-title">
          <span class="line"></span>
          <span class="txt">商家公告</span>
          <span class="line"></span>
        </div>
        <p class="intr">{{seller.bulletin}}</p>
      </div>
      <i class="btn-close icon-close" (click)="markFlag = !markFlag"></i>
    </div>
  </div>
  <app-food *ngIf="seen"></app-food>
</div>