@import "./reset";
@import "./icon";
@import "./mixin";
.bd {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    width: 100%;
    border-top: 1px solid rgba(7, 17, 27, .1);
  }
}

@media (-webkit-min-device-pixel-ratio: 1.5),
(min-device-pixel-ratio: 1.5) {
  .bd {
    &:after {
      transform: scaleY(.7);
    }
  }
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-device-pixel-ratio: 2) {
  .bd {
    &:after {
      transform: scaleY(.5);
    }
  }
}
