@import "../../common/scss/mixin";
.goods-wrap {
  position: absolute;
  left: 0;
  top: 175px;
  right: 0;
  bottom: 48px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  .nav-list {
    flex: 0 0 80px;
    width: 80px;
    background: #f3f5f7;
    .item {
      position: relative;
      display: flex;
      align-items: center;
      height: 54px;
      padding: 0 12px;
      font-size: 12px;
      color: rgb(7, 17, 27);
      &:not(:last-child):after {
        position: absolute;
        left: 12px;
        bottom: -1px;
        content: "";
        width: 56px;
        border-bottom: 1px solid rgba(7, 17, 27, .1);
      }
      &.on {
        font-weight: bold;
        overflow: hidden;
        background: #fff;
      }
      .text {
        line-height: 1.2;
        .ic {
          transform: translateY(1px);
        }
      }
    }
  }
  .list-cont {
    position: relative;
    flex: 1;
    .item {
      .items-title {
        display: flex;
        align-items: center;
        height: 26px;
        padding-left: 12px;
        font-size: 12px;
        color: rgb(147, 153, 159);
        border-left: 2px solid #d9dde1;
        background: #f3f5f7;
      }
      .items-wrap {
        padding: 0 18px;
        .items {
          position: relative;
          display: flex;
          padding: 18px 0;
          &:last-child:after {
            display: none;
          }
          .img-wrap {
            width: 57px;
            height: 57px;
            .img {
              border-radius: 2px;
            }
          }
          .info-wrap {
            margin-left: 10px;
            .title {
              font-size: 14px;
              font-weight: bold;
              color: rgb(7, 17, 27);
            }
            .desc {
              line-height: 1.2;
              margin-top: 8px;
              font-size: 10px;
              color: rgb(147, 153, 159);
            }
            .feed {
              margin-top: 8px;
              font-size: 10px;
              color: rgb(147, 153, 159);
            }
            .price {
              margin-top: 8px;
              font-size: 0;
              .sign {
                font-size: 10px;
              }
              .num {
                font-weight: bold;
              }
              .now {
                color: rgb(240, 20, 20);
                .num {
                  font-size: 14px;
                }
              }
              .old {
                margin-left: 8px;
                font-size: 10px;
                color: rgb(147, 153, 159);
                text-decoration: line-through;
              }
            }
          }
          .btn {
            position: absolute;
            right: 0;
            bottom: 18px;
          }
        }
      }
    }
  }
}
