<div class="goods-wrap">
  <div class="nav-list" #nav>
    <ul class="list">
      <li class="item" [ngClass]="{on: curIndex == index}" *ngFor="let item of goods; let index = index" (click)="onToPos(index)">
        <span class="text">
          <app-icon class="ic" [type]="item.type" *ngIf="item.type != -1"></app-icon>
          <span class="txt">{{item.name}}</span>
        </span>
      </li>
    </ul>
  </div>
  <div class="list-cont" #list>
    <ul class="list">
      <li class="item" *ngFor="let item of goods">
        <h2 class="items-title">{{item.name}}</h2>
        <ul class="items-wrap">
          <li class="items bd" *ngFor="let _item of item.foods" (click)="onShow(_item)">
            <div class="img-wrap">
              <img class="img" width="57" height="57" alt="" [src]="_item.image">
            </div>
            <div class="info-wrap">
              <h3 class="title">{{_item.name}}</h3>
              <p class="desc" *ngIf="_item.description">{{_item.description}}</p>
              <p class="feed">
                <span class="txt">月售{{_item.sellCount ? _item.sellCount : 0}}份</span>
                <span class="txt">好评率{{_item.rating ? _item.rating : 0}}%</span>
              </p>
              <div class="price">
                <span class="now">
                  <b class="sign">￥</b>
                  <span class="num">{{_item.price}}</span>
                </span>
                <span class="old" *ngIf="_item.oldPrice">
                  <b class="sign">￥</b>
                  <span class="num">{{_item.oldPrice}}</span>
                </span>
              </div>
            </div>
            <app-btn class="btn" [food]="_item"></app-btn>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>