<div class="seller-wrap" *ngIf="seller" #main>
  <div>
    <header class="head">
      <div class="top bd">
        <div class="title">{{seller.name}}</div>
        <div class="num-wrap">
          <app-star [size]="36" [score]="seller.score"></app-star>
          <span class="ratings">({{seller.ratingCount}})</span>
          <span class="sell">月售{{seller.sellCount}}单</span>
        </div>
        <div class="btn" [ngClass]="{on: like}" (click)="onToggleLike()">
          <i class="icon icon-favorite"></i>
          <p class="txt">{{like ? '已收藏' : '未收藏'}}</p>
        </div>
      </div>
      <div class="bot">
        <div class="item">
          <h4 class="title">起送价</h4>
          <div class="num">
            <b class="big">{{seller.minPrice}}</b>
            <span class="sign">元</span>
          </div>
        </div>
        <div class="item">
          <h4 class="title">商家配送</h4>
          <div class="num">
            <b class="big">{{seller.deliveryPrice}}</b>
            <span class="sign">元</span>
          </div>
        </div>
        <div class="item">
          <h4 class="title">平均配送时间</h4>
          <div class="num">
            <b class="big">{{seller.deliveryTime}}</b>
            <span class="sign">分钟</span>
          </div>
        </div>
      </div>
    </header>
    <app-split></app-split>
    <div class="info-wrap">
      <h3 class="title">公告与活动</h3>
      <p class="intr">{{seller.bulletin}}</p>
      <ul class="list list-16">
        <li class="item" *ngFor="let item of seller.supports">
          <app-icon [size]="32" [type]="item.type"></app-icon>
          <span class="txt">{{item.description}}</span>
        </li>
      </ul>
    </div>
    <app-split></app-split>
    <div class="info-wrap">
      <h3 class="title">商家实景</h3>
      <div class="pic-wrap" #pic>
        <ul class="pic-list">
          <li class="pic" *ngFor="let item of seller.pics">
            <img class="img" width="120" height="90" alt="" [src]="item">
          </li>
        </ul>
      </div>
    </div>
    <app-split></app-split>
    <div class="info-wrap">
      <h3 class="title">商家信息</h3>
      <ul class="list list-12">
        <li class="item" *ngFor="let item of seller.infos">
          <span class="txt">{{item}}</span>
        </li>
      </ul>
    </div>
  </div>
</div>