<div class="rating-wrap" #scroll>
  <div>
    <div class="rating-box">
      <div class="left-box">
        <div class="score">{{seller.score}}</div>
        <div class="text">综合评分</div>
        <div class="compare">{{'高于周边商家' + seller.rankRate + '%'}}</div>
      </div>
      <div class="right-box">
        <div class="item-box">
          <div class="text">服务态度</div>
          <div class="star-bar">
            <app-star [score]="seller.serviceScore" [size]="18"></app-star>
          </div>
        </div>
        <div class="item-box">
          <div class="text">就餐环境</div>
          <div class="star-bar">
            <app-star [score]="seller.foodScore" [size]="18"></app-star>
          </div>
        </div>
        <div class="item-box">
          <div class="text">送达时间</div>
          <div class="time">{{seller.deliveryTime + '分钟'}}</div>
        </div>
      </div>
    </div>
    <app-divide></app-divide>
    <div class="content-box">
      <app-toggle [data]="toggleData" (toggle)="handleToggle($event)"></app-toggle>
      <ul class="rating-list">
        <li class="item-box" *ngFor="let item of ratingList; index as index; trackBy: handleBy">
          <div class="img-box">
            <img class="img" [src]="item.avatar" alt="头像">
          </div>
          <div class="info-box">
            <div class="name-bar">
              <span class="name">{{item.username}}</span>
              <span class="time">{{item.rateTime}}</span>
            </div>
            <div class="star-bar">
              <app-star [score]="item.score" [size]="10"></app-star>
              <span class="delivery">{{item.deliveryTime + '分钟送达'}}</span>
            </div>
            <p class="rating-bar" *ngIf="item.text">{{item.text}}</p>
            <div class="other-bar">
              <i :class="['iconfont', item.rateType ? 'icon-love' : 'icon-unlove']"></i>
              <ul class="text-list" *ngIf="item.recommend.length">
                <li class="text-box" *ngFor="let _item of item.recommend; index as _index; trackBy: handleBy">
                  <div class="text">{{_item}}</div>
                </li>
              </ul>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>