.rating-wrap {
  position: fixed;
  left: 0;
  top: 175px;
  right: 0;
  bottom: 48px;
  overflow: hidden;
  .head {
    display: flex;
    height: 106px;
    padding: 18px 0;
    box-sizing: border-box;
    .left {
      flex: 0 0 120px;
      width: 120px;
      text-align: center;
      .score {
        line-height: 1.2;
        font-size: 24px;
        color: rgb(255, 153, 0);
      }
      .txt {
        margin-top: 6px;
        font-size: 12px;
        color: rgb(7, 17, 27);
      }
      .than {
        margin-top: 8px;
        font-size: 10px;
        color: rgb(147, 153, 159);
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 0 5px;
      border-left: 1px solid rgba(147, 153, 159, .1);
      .item {
        display: flex;
        align-items: center;
        line-height: 1.5;
        font-size: 12px;
        .txt {
          color: rgb(7, 17, 27);
        }
        .star {
          margin-left: 3px;
        }
        .score {
          margin-left: 3px;
          color: rgb(255, 153, 0);
        }
        .time {
          margin-left: 3px;
          color: rgb(147, 153, 159);
        }
      }
    }
    @media all and (min-width: 375px) {
      .left {
        flex: 0 0 135px;
        width: 135px;
      }
      .right {
        padding: 0 24px;
        .item {
          .star,
          .score,
          .time {
            margin-left: 6px;
          }
        }
      }
    }
  }
  .ratings-box {
    padding-top: 6px;
    .ratings-list {
      padding: 0 18px;
      border-top: 1px solid rgba(147, 153, 159, .2);
      .item {
        display: flex;
        padding: 18px 0;
        &:last-child:after {
          display: none;
        }
        .avatar {
          flex: 0 0 28px;
          width: 28px;
          border-radius: 50%;
        }
        .cont {
          flex: 1;
          margin-left: 12px;
          .info {
            line-height: 1.2;
            font-size: 10px;
            .time {
              color: rgb(147, 153, 159);
            }
            .user {
              display: flex;
              justify-content: space-between;
              .name {
                color: rgb(7, 17, 27);
              }
            }
            .delivery {
              display: flex;
              align-items: center;
              .time {
                margin-left: 6px;
              }
            }
          }
          .feed {
            line-height: 1.5;
            text-align: justify;
            margin-top: 6px;
            font-size: 12px;
            color: rgb(7, 17, 27);
          }
          .kinds {
            display: flex;
            flex-wrap: wrap;
            font-size: 0;
            .icon {
              line-height: 16px;
              margin: 8px 8px 0 0;
              font-size: 12px;
              &.icon-thumb_up {
                color: rgb(0, 160, 220);
              }
              &.icon-thumb_down {
                color: rgb(183, 187, 191);
              }
            }
            .txt {
              max-width: 62px;
              line-height: 16px;
              margin: 8px 8px 0 0;
              padding: 0 6px;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              font-size: 9px;
              color: rgb(147, 153, 159);
              border: 1px solid rgba(7, 17, 27, .1);
              border-radius: 1px;
              box-sizing: border-box;
            }
          }
        }
      }
    }
  }
}
