<div class="rating-wrap" *ngIf="seller" #main>
  <div>
    <header class="head">
      <div class="left">
        <div class="score">{{seller.score}}</div>
        <div class="txt">综合评分</div>
        <div class="than">高于周边商家{{seller.rankRate}}%</div>
      </div>
      <div class="right">
        <div class="item">
          <span class="txt">服务态度</span>
          <app-star class="star" [size]="36" [score]="seller.serviceScore" *ngIf="seller.serviceScore"></app-star>
          <span class="score">{{seller.serviceScore}}</span>
        </div>
        <div class="item">
          <span class="txt">商品评分</span>
          <app-star class="star" [size]="36" [score]="seller.foodScore" *ngIf="seller.foodScore"></app-star>
          <span class="score">{{seller.foodScore}}</span>
        </div>
        <div class="item">
          <span class="txt">送达时间</span>
          <span class="time">{{seller.deliveryTime}}分钟</span>
        </div>
      </div>
    </header>
    <app-split></app-split>
    <div class="ratings-box">
      <app-comment (change)="onReformRatings($event)" [comments]="comments"></app-comment>
      <ul class="ratings-list">
        <li class="item bd" *ngFor="let item of onReformRatings()">
          <img class="avatar" width="28" height="28" alt="" [src]="item.avatar">
          <div class="cont">
            <div class="info">
              <div class="user">
                <span class="name">{{item.username}}</span>
                <span class="time">{{item.rateTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
              </div>
              <div class="delivery">
                <app-star [score]="item.score"></app-star>
                <span class="time">{{item.deliveryTime}}分钟送达</span>
              </div>
            </div>
            <p class="feed">{{item.text}}</p>
            <div class="kinds">
              <i class="icon" :class="icon[item.rateType]"></i>
              <span class="txt" *ngFor="let _item of item.recommend">{{_item}}</span>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>